.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}



/*
  强改插件样式
*/
.vux-cell-primary{
  display: none;
}

.vux-popup-picker-container .vux-popup-header-right{
  color: #C8936B;
}

.vux-cell-box:not(:first-child):before{
  display: none;
}

.el-input__inner:focus.is-active.is-focus:not(:active) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.el-input{
  width: calc(100% - 170px)
}

.el-input .el-input__inner{
  height: 50px;
  font-size: 16px
}

.el-time-panel__btn.confirm{
  color: #BF9571!important;
}

.el-date-table td.current:not(.disabled) span{
  background-color: #BF9571!important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #C29770!important;
  color: #fff!important;
}

.el-pagination.is-background .el-pager li:not(.disabled):not(.active):hover{
  color: #C29770!important;
}

.el-date-table td.today span{
  color: #BF9571!important;
}

.weui-cell_access .weui-cell__ft{
  padding: 0!important;
}

.weui-cell_access .weui-cell__ft:after{
  display: none!important;
}

.weui-input{
  font-size: 12px!important;
}


.vux-cell-box .weui-cell{
  padding: 0!important;
}

.vux-cell-placeholder, .weui-cell_access{
  font-size: 12px;
}

.video-js{
  width: 100%!important;
  height: 100%!important;
}

.video-js .vjs-big-play-button{
  /*display: none!important;*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(200,147,107,.7);
}

.vjs-big-play-button .vjs-icon-placeholder{
  position: absolute;
  left: 13px;
  top: 7px
}

.tabbar-icon-class{
  width: 17px!important;
  height: 17px!important;
}

.vux-header{
  background: linear-gradient(to bottom, #000, #4a4a4a 100%);
}

img[lazy=loading] {
  width: 0px;
  height: 0px;
  /*margin: auto;*/
}

/*@media  {*/
  /*.video-js{*/
    /*height: calc(100% - 30px)*/
  /*}*/
/*}*/

/*.container320{*/
  /*display: none;*/
/*}*/

/*@media (max-width:768px){*/
  /*.container{*/
    /*display: none!important;*/
  /*}*/
  /*.container320{*/
    /*display: block!important;*/
  /*}*/
/*}*/
